<h2>List of Clients</h2>
<button class="btn btn-primary ">New Client</button>
</br>
<table class="table table-bordered table-striped ">
    <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Actions</th>
    </thead>
    <tbody>
        <tr>
            <td>Alex Kemboi</td>
            <td>akemboi@fintech.com</td>
            <td>+254726827210</td>
            <td>PO Box 86-30102</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
